@font-face {
  font-family: 'PTSans';
  src: url('../fonts/ptsans.woff'),
  url('../fonts/ptsans.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSansBold';
  src: url('../fonts/ptsansbold.woff'),
  url('../fonts/ptsansbold.woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 14px;
  line-height: 21px;
  font-family: 'PTSans', sans-serif;
  color: @body-text;
  font-style: normal;
  background-color: @body-bg;
  width: 320px;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media @tablet-widths {
  body {
    width: 768px;
  }
}

@media @desktop-widths {
  body {
    width: 100%;
    background-color: @body-desktop;
  }

  .page-wrapper {
    margin: auto;
    background-color: @body-bg;
    width: 1200px;
    box-shadow: 0px 0px 5px @shadow;
  }
}
