@font-face {
  font-family: 'PTSans';
  src: url('../fonts/ptsans.woff'),
  url('../fonts/ptsans.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSansBold";
  src: url('../fonts/ptsansbold.woff'),
  url('../fonts/ptsansbold.woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 14px;
  line-height: 21px;
  font-family: PTSans, sans-serif;
  color: @body-text;
  font-style: normal;
  background-color: @body-bg;
  width: 320px;
  text-align: center;
}
