.main-nav {
  width: 320px;
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: 16px;
  z-index: 11;
  width: 30px;
  height: 30px;
  font-size: 0;
  border: none;
  outline: inherit;
  box-shadow: none;
  cursor: pointer;
  background-color: inherit;

}

.main-nav--opened .main-nav__toggle {
  background-image: url(../img/icon-cross.svg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

.main-nav--closed .main-nav__toggle {
  top: -40px;

&::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  width: 30px;
  height: 2px;
  background-color: @blue;
  box-shadow: 0 8px 0 0 @blue,
              0 16px 0 0 @blue;
}
}

@media @mobile-widths-only {

  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--closed .page‐header__logo {
    position: absolute;
    top: -50px;
  }

  .main-nav--nojs .main-nav__toggle {
      display: none;
    }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

}

.main-nav__list {
  font-family: 'PTSansBold';
  font-size: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: @color-text-menu;
  background-color: @blue;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__item {
  width: 320px;
  text-align: center;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 14px;
  border-bottom: 1px solid #678fa8;
}

.main-nav__link {
  text-decoration: none;
  color: @color-text-menu;
}

@media @tablet-widths {

  .main-nav {
    width: 768px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-wrap: nowrap;
    background-color: @body-bg;
  }

  .main-nav__link {
    color: @body-text;
    font-size: 14px;
  }

}

@media @desktop-widths {
  .main-nav {
    width: 1200px;
  }
}
